// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Focus and dim screen on hover
@import "focus_and_dim";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
  background-color: white;
}

.brandFont{
  font-family: 'Lobster', cursive;
  font-size: 15px;
}

.container-fix{
  margin-top: 100px;
}

.jumbotron{
  background-color: white;
  margin-bottom: 0;
}

.carousel-inner > .item > img {
  margin:auto;
  height: 250px;
}

.navbar.navbar-default {
  border: none;
}

.navbar.navbar-default > .navbar-collapse {
  border: none;
  box-shadow: none;
}

.panel {
  border: none;
  box-shadow: none;
}

.horizontal_menu{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.dropdown{
  display: inline-block;
}

.dropdown a{
  display: block;
  color: #59585b;
  padding: 14px 16px;
  text-decoration: none;
}

.horizontal_menu > li a:hover{
  color: #29282b;
}

.horizontal_line{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #373639;
}

.dropdown-menu li a{
  display: block;
  text-align: center;
}