// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Focus and dim screen on hover
@import "focus_and_dim";

// Recommended products list
@import "products_list";

// Categories side bar menu
@import "categories_nav_bar";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
  background-color: white;
}

.brandFont{
  font-family: 'Lobster', cursive;
  font-size: 25px;
}

.container-fix{
  margin-top: 100px;
}

.thumbnail{
  border: none;
  background-color: white;
}

.jumbotron{
  background-color: white;
  margin-bottom: 0;
}

.carousel-inner > .item > img {
  margin:auto;
  height: 250px;
}

.navbar.navbar-default {
  border: none;
}

.navbar.navbar-default > .navbar-collapse {
  border: none;
  box-shadow: none;
}

.panel_without_border {
  border: none;
  box-shadow: none;
}

.horizontal_menu{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.dropdown{
  display: inline-block;
}

.dropdown a{
  display: block;
  color: #59585b;
  padding: 14px 16px;
  text-decoration: none;
}

.horizontal_menu > li a:hover{
  color: #29282b;
}

.horizontal_line{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #373639;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dropdown-menu li a{
  display: block;
  text-align: left;
}

.bigger_header{
  font-size: 65px;
}

.lead_main{
  color: #690314;
  font-size: 25px;
}

.lead_sub{
  color: #690314;
  font-size: 20px;
}

.group_div{

}

.add_to_cart{
  color: #136739;
  font-size: 15px;
}

.remove_from_cart{
  color: darkred;
  font-size: 13px;
}

.give_review{
  color: #7f7c17;
  font-size: 15px;
}

.nav.nav-center {
  display: inline-block;
  float:none;
}

.btn-danger{
  background-color: darkred;
}

// Modal window to delete

.modal.loading .modal-content:before {
  content: 'Loading...';
  text-align: center;
  line-height: 155px;
  font-size: 20px;
  background: rgba(0, 0, 0, .8);
  position: absolute;
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
  color: #EEE;
  z-index: 1000;
}

// Button separator

.btn-separator:after {
  content: ' ';
  display: inline-block;
  background: #ADADAD;
  margin: 0 10px;
  height: 15px;
  width: 1px;
}

// Total price to pay

#totalPrice{
  color: white;
  background-color: darkkhaki;
  border-radius: 80px;
}