// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
  background-color: white;
}

.brandFont{
  font-family: 'Lobster', cursive;
  font-size: 15px;
}

.container-fix{
  margin-top: 100px;
}

.jumbotron{
  background-color: white;
  margin-bottom: 0;
}

.carousel-inner > .item > img {
  margin:auto;
  height: 250px;
}

.navbar.navbar-default {
  border: none;
}

.navbar.navbar-default > .navbar-collapse {
  border: none;
  box-shadow: none;
}

.panel {
  border: none;
  box-shadow: none;
}